<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recommendations - Home</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class="Container">
    <header>
      <h1>Recommendation System
      </h1>
    </header>
    <main>
      <h2>What would you like recommendations for?</h2>
      <div class="options">
        <a href="/movies" class="btn">Movies</a>
        <a href="/books" class="btn">Books</a>
      </div>
    </main>
  </div>
</body>

</html>
