<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Recommendations</title>
  <link rel="stylesheet" href="/static/css/movie.css">
</head>
<body>
  <div id="Container">
  <header>
    <h1>Movie Recommendations</h1>
  </header>
  <main>
    <form id="box1" method="POST" action="/recommend_movies">
      <label for="movie">Enter a movie you like:</label>
      <input type="text" id="box" name="movie" required>
      <button type="submit" id="submit">Search</button>
    </form>
    <div class="Container_recom">
    <h2>Recommendations:</h2>
    <div id="suggestions">
    {% if recommendations %}
      <ul>
        {% for movie in recommendations %}
          <p id="uo">{{ movie }}</p>
        {% endfor %}
      </ul>
    {% endif %}</div>
    </div>
  </main>
  </div>
</body>
</html>
